{% extends "layout.html" %}
  {% block stylesheets %}
  <!-- Include Bootstrap Styles -->
    <link rel="stylesheet" href="../stylesheets/vendors/bootstrap.min.css">
    <!-- Custom Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik:900" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="../stylesheets/main.css">
    <!-- Animation Styles -->
    <link rel="stylesheet" href="../stylesheets/vendors/animate.min.css">
    <!-- Support for Twemoji Awesome Emoji's -->
    <link rel="stylesheet" href="../stylesheets/vendors/twemoji-awesome.min.css">
    <!-- Hover Animations -->
    <link rel="stylesheet" href="../stylesheets/vendors/hover-min.css">
  {% endblock %}

  {% block content %}

  {% endblock %}