<!-- Navigation Bar -->
<nav class="navbar navbar-default navbar-portfolio" role="navigation">
  <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>    
        <a href="../index.html" class="navbar-brand">James Bovis</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="../index.html" class="hvr-underline-from-left">Home</a></li>
          <li><a href="../index.html#about-section" class="hvr-underline-from-left">About Me</a></li>
          <li><a href="../index.html#work-section" class="hvr-underline-from-left">My Work</a></li>
          <li><a href="../index.html#blog-section" class="hvr-underline-from-left">My Blog</a></li>
        </ul>
    </div>
  </div>
</nav>