/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  	h1 {
  		font-size: 60px;
  	}

  	h2 {
  		font-size: 25px;
  	}
	

	.about-section {
		padding: 15px 0px;

		.about-content {
			padding: 30px;
		}

		.social-icons {
			display: none;
		}
	}

	.portfolio-row {
		margin-top: 0px;
		
		.col-md-6 {
		padding-bottom: 15px;
		padding-right: 15px;
		}
	}

	.scroll-down {
		bottom: 2%;
	}

	.portfolio-item-bg {
		padding: 0px;
	}

	.portfolio-item__title {
		margin-bottom: 0px;
		text-align: center;
	}

	.portfolio-item__masthead {

		.portfolio-item__masthead__description {
			padding: 2rem 3rem;
		}

	}

	.portfolio-row {
		margin-left: -15px;
		margin-right: 0px;

		img {
			margin-bottom: 15px;
		}
	}
}