@import '../base/colors';

// General button styling
.btn {
	padding: 8px 20px;
	border-radius: 50px;
	color: white;

	&:hover {
		color: $grey;
	}

	&.btn-dark-blue {
		background-color: $dark-blue;
	}

	&.btn-pink {
		background-color: $pink;
	}

	&.btn-portfolio-sm {
		border-radius: 0px;
		padding: 10px;
	}
}

.button-group {
	margin-top: 30px;

	a:first-child {
		margin-right: 10px;
	}
}