@import '../base/colors';


.portfolio-row {
	margin-top: 15px;

	.col-md-4  {
		padding-right: 0px;
	}
	
	.col-md-3 {
		padding-right: 0px;
	}
}

.portfolio-item {
	overflow: hidden;

	a .portfolio-caption {
	position: absolute;
	z-index: 0;
	opacity: 0;
	bottom: -70px;
	background: $pink;
	width: 100%;
	padding: 5px 15px; 
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	-ms-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;

		h5 {
			font-family: $rubik-font;
			text-transform: uppercase;
			color: $white;
			font-size: 30px;
		}

		p {
			color: $white;
		}

	}

	&:hover .portfolio-caption {
		opacity: 1;
		z-index: 10;
		transform: translateY(-70px);
		-webkit-transform:translateY(-70px);
		-moz-transform:translateY(-70px);
		-ms-transform:translateY(-70px);
		-o-transform:translateY(-70px);
	}
}

.portfolio-item__masthead {
	position: relative;

	.portfolio-item__masthead-img {
		width: 100%;
		text-align: center
	}

	.portfolio-item__masthead__description{
		position: absolute;
		bottom: 0px;
		width: 100%;
		padding: 3rem 5rem;
		background-color: $pink;
		opacity: 0.8;
	}

	.portfolio-item__masthead__button {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	.portfolio-item__title {
		font-size: 50px;
		margin-top: 0px;
	}

	.portfolio-item__subtitle {
		margin-bottom: 0px;
	}
}

.portfolio-item__content {
	padding: 5rem;
	color: black;
}
