@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    background-color: white;
  }

  :root.dark {
    background-color: #171717;
  }

  body {
    @apply antialiased;
  }

  * {
    text-wrap: pretty;
  }
}

@layer utilities {
  .animation-delay-200 {
    animation-delay: 200ms;
  }

  .animation-delay-400 {
    animation-delay: 400ms;
  }

  .animation-delay-600 {
    animation-delay: 600ms;
  }
}
