{% extends "layout.html" %}
	{% block page_title %} A Smith Video {% endblock %}

  {% block content %}
  {% include "partials/portfolio-navbar.html" %}

		<div class="portfolio-item-bg">
			<div class="portfolio-item animated fadeInUp">
				<div class="container">
					<div class="row portfolio-item__masthead">
						
						<div class="portfolio-item__masthead-img">
							<img class="img-responsive" src="../img/portfolio/asmithvideo/asmithvideo-portfolio-detail.jpg" alt="">
						</div>

						<div class="portfolio-item__masthead__description">
							<h1 class="portfolio-item__title">A Smith Video</h1>
							<p class="portfolio-item__subtitle hidden-md hidden-sm hidden-xs">One of my first websites built using the Bootstrap CSS framework</p>
						</div>

						<div class="portfolio-item__masthead__button hidden-sm hidden-xs">
							<a href="http://asmithvideo.jamesbovis.com" target="_blank" class="btn btn-dark-blue hvr-grow">See Project <i class="twa twa-point-right"></i></a>
						</div>
					</div>
				</div>
				
				<!-- Mobile Button -->
				<a href="http://asmithvideo.jamesbovis.com" target="_blank" class="hidden-md hidden-lg hidden-xl btn btn-dark-blue btn-block btn-portfolio-sm">See Project <i class="twa twa-point-right"></i></a>

				<div class="container container-white portfolio-item__content">
					<div class="col-md-10 col-md-push-1">
						<p>A Smith Video is a client I worked with when I was first getting started with Web Development and was one of the first websites I made using Bootstrap. As the client was an aspiring filmmaker and YouTube producer, she needed a website in which would display her videos and also feature her photography.</p>

						<p>I designed the one page site from scratch including the logo, layout and the color scheme. As it was a one page site, it didn’t take very long to build and came together quickly. By also using a great jQuery plugin, I was able to make a great interactive gallery which featured her photography.</p>

						<p>Even though this isn’t the best site I’ve <em>ever</em> built, I still like the way it looks and it shows just how far I have come with my skills and techniques.</p>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}