{% extends "portfolio-layout.html" %}
	{% block page_title %} Devoted {% endblock %}

  {% block content %}
  {% include "partials/portfolio-navbar.html" %}

		<div class="portfolio-item-bg">
			<div class="portfolio-item animated fadeInUp">
				<div class="container">
					<div class="row portfolio-item__masthead">
						
						<div class="portfolio-item__masthead-img">
							<img class="img-responsive" src="../img/portfolio/devoted/devoted-portfolio-detail.jpg" alt="">
						</div>

						<div class="portfolio-item__masthead__description">
							<h1 class="portfolio-item__title">Devoted Ltd</h1>
							<p class="portfolio-item__subtitle hidden-md hidden-sm hidden-xs">Devoted LTD is a logo design project I undertook whilst employed at Suite Creative. I was given the responsibility of creating a fresh and enticing brand image for Devoted which started with a logo.</p>
						</div>

						<div class="portfolio-item__masthead__button hidden-sm hidden-xs">
							<a href="#" class="btn btn-dark-blue hvr-grow">Project now offline <i class="twa twa-sob"></i></a>
						</div>
					</div>
				</div>

				<!-- Mobile Button -->
				<a href="#" target="_blank" class="hidden-md hidden-lg hidden-xl btn btn-dark-blue btn-block btn-portfolio-sm">Project now offline <i class="twa twa-sob"></i></a>

				<div class="container container-white portfolio-item__content">
					<div class="col-md-10 col-md-push-1">
						<h3>The brief</h3>
						<p>Devoted are a distributor of fan-made, band and music merchandise. Similar to existing sites like Etsy, Devoted specialise in music related products that are created by fans, for fans.</p>

						<p>They wanted a logo which was clean, recognisable, and easily identifiable in a crowded market.</p>

						<h3>The process</h3>
						<p>To start with, I went straight to my notebook and started some paper sketching to quickly develop ideas into something worth developing. I like this way of working as I can draw something in pencil far quicker than on the computer.</p>

						<p>After some initial sketches and ideas, I was settled on using a heart symbol as the identifier of the logo. As the heart has connotations with passion, love and most importantly, devotion; it seemed like an ideal symbol to base the brand on. Paired with a bright passionate red, and a quirky bubble style typeface, the logo came to life.</p>

						<h3>End results</h3>
						<p>Once the logo was handed to the client, they loved it straight away and thought it was the perfect expression of their company and ideas.</p>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}