{% extends "portfolio-layout.html" %}
	{% block page_title %} James Bovis 1.0 {% endblock %}

  {% block content %}
  {% include "partials/portfolio-navbar.html" %}

		<div class="portfolio-item-bg">
			<div class="portfolio-item animated fadeInUp">
				<div class="container">
					<div class="row portfolio-item__masthead">
						
						<div class="portfolio-item__masthead-img">
							<img class="img-responsive" src="../img/portfolio/james-bovis-1.0/jamesb-portfolio-detail.jpg" alt="">
						</div>

						<div class="portfolio-item__masthead__description">
							<h1 class="portfolio-item__title">James Bovis 1.0</h1>
							<p class="portfolio-item__subtitle hidden-md hidden-sm hidden-xs">My first version of jamesbovis.com</p>
						</div>
					</div>
				</div>

				<div class="container container-white portfolio-item__content">
					<div class="col-md-10 col-md-push-1">
						<p>Back in 2015, it was my new year's resolution to finally purchase and launch my own personal website, jamesbovis.com. The idea being that I needed a place to share my work, upload my CV to and to find allow potential employees to find out more about me.</p>

						<p>Along with the website successfully launching that year, I also needed a logo which would feature across the website, on business cards and other materials.</p>

						<h3>My logo must haves</h3>
						<p>To start with, I ironed out some <em>“must have”</em> credentials which I would stick to when designing my logo and these three things gave me a starting point to work from.</p>

						<ul>
							<li>
								<p>Combine my love of Web and Graphic design</p>
							</li>
							<li>
								<p>Be memorable and easy to identify</p>
							</li>
							<li>
								<p>Be flexible</p>
							</li>
						</ul>

						<p>After these three principles were set out - I got to work</p>

						<h3>Some Ideas</h3>
						<p>I started on paper. Firstly writing out my name in full, rearranging the two words in different ways to see what looked the best. Luckily for me, both my forename and surname have the same about of letters in them so I decided that I should go for a “stacked” approach.</p>

						<div class="col-md-6 text-center" style="margin-bottom: 20px;">
							<img src="../img/portfolio/james-bovis-1.0/idea-1.png" alt="" class="img-responsive">
						</div>
						<div class="col-md-6 text-center" style="margin-bottom: 20px;">
							<img src="../img/portfolio/james-bovis-1.0/idea-2.png" alt="" class="img-responsive">
						</div>

						<p>One thing that I wanted to include from the outset was the use of HTML closing tags somewhere in the design as I feel that would really hit home the combination of my development and design skills.</p>

						<h3>The final idea</h3>
						<br>
						<div class="col-md-6 text-center" style="margin-bottom: 20px;">
							<img src="../img/portfolio/james-bovis-1.0/final-1.png" alt="" class="img-responsive">
						</div>
						<div class="col-md-6 text-center" style="margin-bottom: 20px;">
							<img src="../img/portfolio/james-bovis-1.0/final-2.png" alt="" class="img-responsive">
						</div>

						<p>After a few more sketches and prototypes in illustrator, I was finally satisfied with the final outcome.</p>

						<h3>Conclusion</h3>
						<p>Once I reached the end of the design process, I was confident in saying that my logo achieved the three goals I outlined earlier. I think that the use of the pencil and the styled elements above the “M” really convey my design and development skills.</p>

						<p>To finish, I selected a simple colour palette which would ensure easy use in both web and in print and I think the colours look great together.</p>
					</div>
				</div>
			</div>
		</div>
{% endblock %}