{% extends "portfolio-layout.html" %}
	{% block page_title %} Liquid Applied Membranes {% endblock %}

  {% block content %}
  {% include "partials/portfolio-navbar.html" %}
		<div class="portfolio-item-bg">
			<div class="portfolio-item animated fadeInUp">
				<div class="container">
					<div class="row portfolio-item__masthead">
						<div class="portfolio-item__masthead-img">
							<img class="img-responsive" src="../img/portfolio/lam/lam-portfolio-detail.jpg" alt="">
						</div>

						<div class="portfolio-item__masthead__description">
							<h1 class="portfolio-item__title">Liquid Applied Membranes</h1>
							<p class="portfolio-item__subtitle hidden-md hidden-sm hidden-xs">For a client at Suite Creative, I designed and created some animated motion graphics videos for a roofing company.</p>
						</div>

						<div class="portfolio-item__masthead__button hidden-sm hidden-xs">
							<a href="http://liquidapplied.co.uk" target="_blank" class="btn btn-dark-blue hvr-grow">See Project <i class="twa twa-point-right"></i></a>
						</div>
					</div>
				</div>

				<!-- Mobile Button -->
				<a href="http://liquidapplied.co.uk" target="_blank" class="hidden-md hidden-lg hidden-xl btn btn-dark-blue btn-block btn-portfolio-sm">See Project <i class="twa twa-point-right"></i></a>

				<div class="container container-white portfolio-item__content">
					<div class="col-md-10 col-md-push-1">
						<p>Liquid Applied Membranes are a GRP Application specialist based in Kent and offer services such as:</p>

						<ul>
							<li>
								<p>GRP Flat Roofing for both commercial and domestic buildings</p>
							</li>
							<li>
								<p>Resin Bonded Driveways</p>
							</li>
							<li>
								<p>Cooling Tower Lining</p>
							</li>
							<li>
								<p>Bund Lining</p>
							</li>
							<li>
								<p>Water Feature and Swimming Pool waterproofing</p>
							</li>
						</ul>

						<p>During my employment at Suite Creative, I was assigned the task of creating some animated videos that would be used on their new website. The video's goal would be to better illustrate the companies services and the products that they offer.</p>

						<p>The videos were put together using Adobe After Effects and the illustrations were drawn in Adobe Illustrator. What was great about using both of these tools together is that I could very effectively animate each individual layer and create something that was interesting to watch.</p>

						<p>Take a look here:</p>
						
						<div class="row">
							<div class="col-md-6 text-center">
								<iframe width="400" height="225" src="https://www.youtube-nocookie.com/embed/CtQmNI6fpW4?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								<br>
							</div>	

							<div class="col-md-6 text-center">
								<iframe width="400" height="225" src="https://www.youtube-nocookie.com/embed/kiy7DWH4M3w?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}

		