{% extends "portfolio-layout.html" %}
	{% block page_title %} Laura Ashley {% endblock %}

  {% block content %}
  {% include "partials/portfolio-navbar.html" %}

		<div class="portfolio-item-bg">
			<div class="portfolio-item animated fadeInUp">
				<div class="container">
					<div class="row portfolio-item__masthead">
						
						<div class="portfolio-item__masthead-img">
							<img class="img-responsive" src="../img/portfolio/laura-ashley/lauraashley-portfolio-detail.jpg" alt="">
						</div>

						<div class="portfolio-item__masthead__description">
							<h1 class="portfolio-item__title">Laura Ashley</h1>
							<p class="portfolio-item__subtitle hidden-md hidden-sm hidden-xs">I was lead Web Designer for the Homewear and Fashion brand Laura Ashley.</p>
						</div>

						<div class="portfolio-item__masthead__button hidden-sm hidden-xs">
							<a href="http://lauraashley.com" target="_blank" class="btn btn-dark-blue hvr-grow">See Project <i class="twa twa-point-right"></i></a>
						</div>
					</div>
				</div>

				<!-- Mobile Button -->
				<a href="http://lauraashley.com" target="_blank" class="hidden-md hidden-lg hidden-xl btn btn-dark-blue btn-block btn-portfolio-sm">See Project <i class="twa twa-point-right"></i></a>
				
				<div class="container container-white portfolio-item__content">
					<div class="col-md-10 col-md-push-1">
						<p>I started working at Laura Ashley in October 2015 as the lead Web Designer. During my time there, I worked on a wide range of tasks and projects.</p>

						<h3>Feature page design</h3>
						<p>Part of my role as the Web Designer was to design and build feature pages that would be displayed on <a href="http://www.lauraashley.com">lauraashley.com</a>. These pages would advertise either a certain product, collection or a current trend and display them in an attractive manner. I enjoy creating these pages as they allowed me to display my creativity and really push my design skills to create something that looked great. Previous feature pages include <a href="http://www.lauraashley.com/page/christmas">Christmas</a>, <a href="http://www.lauraashley.com/uk/page/wedding-shop">wedding shop</a>, <a href="http://www.lauraashley.com/uk/page/dark-light-cabinet">various interactive feature pages</a> and more.</p>

						<h3>Managing graphical assets</h3>
						<p>The main bulk of my responsibility at Laura Ashley was to manage and maintain the graphical look of the website and ensure that all of the relevant images were published correctly, created on time and were on-brand. This involved me working alongside a strict promotional schedule and I made sure I balanced my time effectively. Every graphic my team created was also translated into French and German. This not only improved my knowledge of these languages but also the geographic differences in e-commerce.</p>

						<h3>Social Media content</h3>
						<p>I worked very closely with the Social Media team and I was responsible for some of the promotional assets they used on Laura Ashley’s Twitter, Facebook and Instagram. Not only did I produce content to share but I also collaborated with them on new ideas on future posts.</p>

						<h3>Other responsibilities</h3>
						<ul>
							<li>
								<p>SWF and GIF files for Affiliate Advertising Banners</p>
							</li>
							<li>
								<p>Editing and updating Laura Ashley’s core HTML documents through their CMS</p>
							</li>
							<li>
								<p>Updating PR WordPress website</p>
							</li>
							<li>
								<p>Assisting with the asset creation of daily email marketing</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
{% endblock %}