{% extends "portfolio-layout.html" %}
  {% block page_title %} PawSquad {% endblock %}

  {% block content %}
  {% include "partials/portfolio-navbar.html" %}

    <div class="portfolio-item-bg">
      <div class="portfolio-item animated fadeInUp">
        <div class="container">
          <div class="row portfolio-item__masthead">
            
            <div class="portfolio-item__masthead-img">
              <img class="img-responsive" src="../img/portfolio/pawsquad/pawsquad-portfolio-detail.jpg" alt="">
            </div>

            <div class="portfolio-item__masthead__description">
              <h1 class="portfolio-item__title">PawSquad</h1>
              <p class="portfolio-item__subtitle hidden-md hidden-sm hidden-xs">Front-end developer for a veterinary home visit startup in London</p>
            </div>

            <div class="portfolio-item__masthead__button hidden-sm hidden-xs">
              <a href="http://pawsquad.com" target="_blank" class="btn btn-dark-blue hvr-grow">See Project <i class="twa twa-point-right"></i></a>
            </div>
          </div>
        </div>
        
        <!-- Mobile Button -->
        <a href="http://pawsquad.com" target="_blank" class="hidden-md hidden-lg hidden-xl btn btn-dark-blue btn-block btn-portfolio-sm">See Project <i class="twa twa-point-right"></i></a>

        <div class="container container-white portfolio-item__content">
          <div class="col-md-10 col-md-push-1">
            <p>I joined PawSquad in November 2018 as the teams Junior Front-end Developer. As this would be my first developer role in my professional career, I was both nervous and excited about what the opportunity would have in store for me.</p>

            <p>Since then I have learnt many new skills and I have had firsthand experience with Angular, Heroku, Django and more complex SASS functions. I have also adopted BEM principles throughout the CSS and is now a practise I follow religiously, even in my own personal projects.</p>

            <p>A few examples of projects I have been involved in are:</p>
            <ul>
              <li>
                <p>Sprint planning, redesign and development of a new <a target="_blank" href="http://pawsquad.com">Homepage</a> design</p>
              </li>
              <li>
                <p>Redesign of <a target="_blank" href="http://pawsquad.com/services">“Services”</a> page and supporting <a target="_blank" href="https://www.pawsquad.com/services/cat-microchipping">Service articles</a></p>
              </li>
              <li>
                <p>Transferred PawSquad’s existing blog to WordPress and customised theme</p>
              </li>
              <li>
                <p>Developed the front-end of Django based <a target="_blank" href="http://pawsquad.com/microchip-dog">SEO landing pages</a> for targeted locations and services</p>
              </li>
              <li>
                <p>Rolled out responsive transactional emails using the <a target="_blank" href="https://github.com/mjmlio/mjml">MJML framework</a></p>
              </li>
              <li>
                <p>Built a dynamic “consult stories” component</p>
              </li>
              <li>
                <p>Photographed two vet <a target="_blank" href="https://www.instagram.com/p/BhW1_uKlwRs/?taken-by=fenderjim">profile images</a></p>
              </li>
              <li>
                <p>Fixed numerous issues reported on GitHub</p>
              </li>
            </ul>
            
            <p>As this has been my first experience working in a startup, I have learnt so much from the rest of the team and just how reactive a small, agile orientated business can be. I can definitely see myself moving onto other startups in the future and I very much enjoy the camaraderie and the fast-paced work.</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}