{% extends "layout.html" %}
  {% block page_title %} Traditio {% endblock %}

  {% block content %}
  {% include "partials/portfolio-navbar.html" %}

		<div class="portfolio-item-bg">
			<div class="portfolio-item animated fadeInUp">
				<div class="container">
					<div class="row portfolio-item__masthead">
						
						<div class="portfolio-item__masthead-img">
							<img class="img-responsive" src="../img/portfolio/traditio/traditio-portfolio-detail.jpg" alt="">
						</div>

						<div class="portfolio-item__masthead__description">
							<h1 class="portfolio-item__title">Traditio</h1>
							<p class="portfolio-item__subtitle hidden-md hidden-sm hidden-xs"> A logo and single page website for a Kent based facilities management company.</p>
						</div>

						<div class="portfolio-item__masthead__button hidden-sm hidden-xs">
							<a href="#" class="btn btn-dark-blue hvr-grow">Project now offline <i class="twa twa-sob"></i></a>
						</div>
					</div>
				</div>

				<!-- Mobile Button -->
				<a href="#" target="_blank" class="hidden-md hidden-lg hidden-xl btn btn-dark-blue btn-block btn-portfolio-sm">Project now offline <i class="twa twa-sob"></i></a>

				<div class="container container-white portfolio-item__content">
					<div class="col-md-10 col-md-push-1">
						<p>Traditio was one of my favourite projects to work on from my time at Suite Creative. Even though it wasn’t the most glamorous of companies to work with, I remember being very happy with my work and the clients were equally happy with what I produced too.</p>

						<h3>The Logo</h3>
						<p>Creating the logo was my favorite part of the project as it allowed me to use techniques I had seen other agencies use in their client work before. The best part of the logo for me is the use of negative space to create an open door and pathway between the “T” and the “R”.</p>

						<h3>The Website</h3>
						<p>Developing the website was also a great experience too. Like most of the projects I built at Suite Creative, the website was built on the Bootstrap framework, which allowed me to get an initial wireframe together quickly. Once the structure and information were there, some simple CSS tweaks, custom SVG icons and a Javascript “Back to top” button - the website was ready to go.</p>

						<p>Even though the work was produced a long time ago, I am still proud of it. The design is clean and functional and the logo is fitting and completely suited to the purpose required.</p>
					</div>
				</div>
			</div>
		</div>
{% endblock %}