{% extends "layout.html" %}
  {% block page_title %} Ufruity {% endblock %}

  {% block content %}
  {% include "partials/portfolio-navbar.html" %}

		<div class="portfolio-item-bg">
			<div class="portfolio-item animated fadeInUp">
				<div class="container">
					<div class="row portfolio-item__masthead">
						
						<div class="portfolio-item__masthead-img">
							<img class="img-responsive" src="../img/portfolio/ufruity/ufruity-portfolio-detail.jpg" alt="">
						</div>

						<div class="portfolio-item__masthead__description">
							<h1 class="portfolio-item__title">Ufruity</h1>
							<p class="portfolio-item__subtitle hidden-md hidden-sm hidden-xs">I was responsibile for the launch of a brand new WordPress site for my employers sister company, Ufruity.</p>
						</div>

						<div class="portfolio-item__masthead__button hidden-sm hidden-xs">
							<a href="http://ufruity.com" target="_blank" class="btn btn-dark-blue hvr-grow">See Project <i class="twa twa-point-right"></i></a>
						</div>
					</div>
				</div>

				<!-- Mobile Button -->
        <a href="http://ufruity.com" target="_blank" class="hidden-md hidden-lg hidden-xl btn btn-dark-blue btn-block btn-portfolio-sm">See Project <i class="twa twa-point-right"></i></a>

				<div class="container container-white portfolio-item__content">
					<div class="col-md-10 col-md-push-1">
						<p>While I was employed at Suite Creative, one of the tasks I worked on was for their sister company, Ufruity. The owners wanted a complete overhaul of their website and one that would reflect the new direction they wanted to take the company in.</p>

						<h3>Moving to WordPress</h3>
						<p>As the company were changing their business structure and services, the owners thought it was time to move the website over from just static HTML and CSS, to the WordPress platform.</p>

						<p>It was my responsibility to handle the websites transition over to WordPress and to also design a new look and feel.</p>

						<p>One of the many benefits of WordPress is its flexibility and ease of use. By using it, it gave the owners (and anyone else) a really easy way of updating and adding more content to the website.</p>

						<h3>Design overhaul</h3>
						<p>Before the redesign, the previous website was unresponsive, inconsistent and not inline with the direction Ufruity wanted to move forward in. So, it was decided that the website should provide a clean user experience, showcase Ufruity’s work effectively, be fully responsive and remain in line with their branding and ethos.</p>

						<p>After a few iterations of designs and ideas, the finished website featured clean header images and captions, on brand SVG icons, smooth, attention-grabbing transitions and a simple way to show off the work they have produced for their clients.</p>

						<p>The site also performed well and looked great on any device it was previewed on.</p>

						<p>Overall, I was really happy with the outcome and it was a great feeling to know that the company owners were pleased with it too.</p>
					</div>
				</div>
			</div>
		</div>
{% endblock %}