{% extends "portfolio-layout.html" %}
  {% block page_title %} William Reed Business Media {% endblock %}

  {% block content %}
  {% include "partials/portfolio-navbar.html" %}

		<div class="portfolio-item-bg">
			<div class="portfolio-item animated fadeInUp">
				<div class="container">
					<div class="row portfolio-item__masthead">
						
						<div class="portfolio-item__masthead-img">
							<img class="img-responsive" src="../img/portfolio/wrbm/wrbm-portfolio-detail.jpg" alt="">
						</div>

						<div class="portfolio-item__masthead__description">
							<h1 class="portfolio-item__title">William Reed Business Media</h1>
							<p class="portfolio-item__subtitle hidden-md hidden-sm hidden-xs">I produced sets of interactive web banners for many different events including JPG, GIF and SWF files.</p>
						</div>
					</div>
				</div>
				

				<div class="container container-white portfolio-item__content">
					<div class="col-md-10 col-md-push-1">
						<p>During my employment at Suite Creative, I worked with William Reed Business Media (WRBM) to deliver a wide range of web banner campaigns for several of their industry events.</p>

						<p>The banners ranged from static JPG files to fully animated SWF files created using Adobe Flash. The animated banners featured clean fade transitions and were fully clickable using ActionScript to take the user to the event website.</p>

						<p>During my time working with WRBM, I produced banners of all different sizes and some were even full site takeovers. I made sure that each banner I delivered met the clients and website specifications including file size and pixel dimensions.</p>

						<p>Some of these events included:</p>
						<ul>
							<li>
								<p><a href="https://www.therestaurantshow.co.uk/">The Restaurant Show</a></p>
							</li>
							<li>
								<p><a href="https://www.forecourtshow.co.uk/">The Forecourt Show</a></p>
							</li>
							<li>
								<p><a href="https://www.nationalconvenienceshow.co.uk/">The National Convenience Show</a></p>
							</li>
							<li>
								<p><a href="https://www.farmshopanddelishow.co.uk/">Farm Shop &amp; Deli Show</a></p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
{% endblock %}